@font-face {
	font-family: 'Alkatra';
	src: url('Alkatra/static/Alkatra-Bold.ttf');
	font-weight: 700;
}

.wrapper {
	width: 640px;
	height: 600px;
	position: absolute;
	left: calc(50% - 640px / 2);
	bottom: calc(50% - 600px / 2);
	text-align: center;
}

.img {
	width: 640px;
	height: 480px;
	margin: 0;
	border-radius: 20px;
}

h1 {
	font-family: 'Alkatra';
}
