body {
  padding: 20px;
  min-height: 100vh;
  margin: 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-image: url("cloud2.png");
  background-size: cover;
  /*background-color:#a3c7d1;*/
}

header {
  text-align: center;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}

.stats {
  text-align: center;
}

.board {
  width: 800px;
  height: 800px;
  border: 10px solid #b39364;
  background-image: url("flower.png");
  /* background-color: #afd1a3;*/
  /* border-width: 4px;
    border-style: solid;
    border-color: black; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  border-radius: 20px;
}

.cell {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.default {
  background-color: transparent;
  border-radius: 0;
}

.snake-head,
.snake-tail {
  background-color: #75685b;
  /* background-image: url("camo.jpg"); */
  /* background-size: 100px 100px; */
  /* background-repeat: no-repeat; */
  /* border-radius: 100%; */
}

.snake-head {
  background-image: linear-gradient(rgb(212, 172, 172), rgb(117, 104, 91));
}

.snake-body {
  background-color: #75685b;
  background-image: url("white-dot.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.bottom-left-rounded {
  border-bottom-left-radius: 15px;
}

.bottom-right-rounded {
  border-bottom-right-radius: 15px;
}

.top-left-rounded {
  border-top-left-radius: 15px;
}

.top-right-rounded {
  border-top-right-radius: 15px;
}

/* #FFF1C5*
  */

.fruit {
  /* background-color: green; */
  /* border-radius: 100%; */
  background-image: url("strawberry.png");
  background-size: contain;
}

.timer {
  color: #45372b;
  font-size: 50px;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  font-weight: bold;
}

h1 {
  font-family: sans-serif;
  color: #45372b;
  -webkit-text-stroke-color: #faf1d9;
  -webkit-text-stroke-width: 1px;
  font-size: 80px;
  margin: 0px;
  padding: 0px;
}

.counter {
  color: #45372b;
  font-size: 50px;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  font-weight: bold;
}
