body{
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}


.pattern {
    width: 100%;
    height: 100%;
    background-image: url("cube.png");
    background-repeat:repeat;
    background-size:5%;
    background-color:rgb(161, 161, 161);
 
}
